---
import Icon from "@components/Icon.astro";
import ProductCard from "./ProductCard.astro";
---

<section class="product-container h-full w-full py-20 lg:py-36 bg-[#FFFBEE]">
  <div class="flex flex-col gap-10 w-full mx-auto">
    <div
      class="flex flex-col items-center gap-10 text-center w-full space-y-4 relative"
    >
      <div class="flex flex-col items-center gap-3">
        <p
          class="item uppercase font-medium text-[16px] md:text-[24px] text-center text-[#FAAB00]"
        >
          our product showcase
        </p>
        <h3
          class="item text-[#050505] font-bold text-4xl lg:text-[55px] tracking-tighter leading-tight max-w-[900px] w-full mx-auto capitalize"
        >
          showcase your masterpiece: the work exhibition moment
        </h3>
        <p
          class="item w-[310px] md:w-[600px] md:text-[20px] font-google font-normal md:text-[#474747]"
        >
          Upload your best works for a chance to be featured in the spotlight at
          DevFest Enugu's showcase of innovative products!
        </p>
      </div>

      <a href="/product-showcase">
        <button
          class="item font-google font-[500px] flex items-center gap-1 md:gap-3 justify-center rounded-full bg-black mt-10 py-2 md:py-5 px-4 md:w-[200px] text-white text-[10px] md:text-[17px]"
        >
          <p>View All Products</p>
          <Icon
            class:list={"fill-white size-[10px] md:size-[20px]"}
            icon="pixelated-right-arrow"
          />
        </button>
      </a>

      <!-- floating image -->
      <div>
        <img
          src="/images/2025/showcaseArc.png"
          alt=""
          class="item animate-tilt w-[40px] md:w-[80px] absolute top-[1rem] left-[5%] md:top-[1.5rem] md:left-[25%]"
        />
        <img
          src="/images/2025/showcasePlus.png"
          alt=""
          class="item hidden md:flex absolute top-[12rem] right-[25%] z-10"
        />
        <img
          src="/images/2025/showDesign.png"
          alt=""
          class="item hidden md:flex absolute top-[9.5rem] right-[15%]"
        />
      </div>
    </div>

    <!-- product card -->
    <ProductCard />
  </div>
</section>

<script>
  import { animate, stagger, inView } from "motion";

  let hasAnimated = false;

  inView(".product-container", (element, _entry) => {
    if (hasAnimated) return;

    const items = (element as HTMLElement).querySelectorAll(".item");

    animate(
      items,
      { opacity: [0, 1], y: [20, 0] },
      { duration: 0.8, delay: stagger(0.25) }
    );

    hasAnimated = true;
    return () => {};
  });
</script>
