---

---

<section
  class="bg-[#FFF4D6] relative h-auto lg:px-20 px-4 pt-20 sm:pb-32 md:pb-52 lg:pb-96 overflow-hidden"
>
  <div class="container mx-auto pb-72 xl:pb-64">
    <p class="uppercase font-medium text-center text-[#FAAB00] mb-4">
      dress code
    </p>
    <div class="relative z-40 text-center w-full space-y-4">
      <h2
        class="text-[#050505] tracking-tighter leading-tight font-bold text-4xl lg:text-[3.5rem] lg:max-w-5xl w-full mx-auto capitalize"
      >
        tech meets culture
      </h2>
      <p class="text-[#474747] font-medium max-w-xl mx-auto">
        Celebrate the blend of tradition and innovation! Dress to impress in
        your finest traditional attire, showcasing your unique style.
      </p>
    </div>

    <div class="flex-grow flex items-end justify-center">
      <div class="absolute bottom-0 z-20">
        <!-- Chat bubble -->
        <div
          class="hidden lg:inline absolute bottom-8 left-16 z-10 rotate-12 w-fit p-2 lg:p-8 bg-white rounded-[4rem] text-center"
        >
          <p class="text-black font-medium text-lg">Steeze filled Day!!</p>
          <!-- Pointy top-right corner -->
          <div
            class="absolute w-0 h-0 border-t-[20px] border-t-white border-l-[20px] border-l-transparent top-[-10px] right-[-10px]"
          >
          </div>
        </div>
        <!-- Chat bubble end -->

        <img
          class="relative lg:left-6 flex flex-grow w-screen lg:w-[1200px]"
          height="900"
          loading="eager"
          src="https://res.cloudinary.com/dpectrfhh/image/upload/q_auto/v1732838364/dress-code_uducki.webp"
          alt="Two men with a beautiful lady in between them. They're all in traditional attire."
        />

        <!-- Chat bubble -->
        <div
          class="hidden lg:inline absolute top-44 right-20 -rotate-12 w-fit p-2 lg:p-8 bg-white rounded-[4rem] text-center"
        >
          <p class="text-black max-w-xs font-medium text-lg uppercase">igbo kwenu!!</p>
          <!-- Pointy top-right corner -->
          <div
            class="absolute w-0 h-0 border-t-[20px] border-t-white border-r-[20px] border-r-transparent top-[-10px] left-[-10px]"
          >
          </div>
          <!-- Chat bubble -->
        </div>
      </div>
      <div
        class="absolute bottom-0 z-auto bg-[#FFD427] w-screen lg:w-[900px] h-[250px] lg:h-[450px] rounded-t-full mx-auto left-1/2 -translate-x-1/2"
      >
      </div>
    </div>
  </div>
</section>
