---
import Icon from "@components/Icon.astro";
---

<footer class="bg-black p-10">
  <div class="container mx-auto pt-4 lg:p-10">
    <div
      class="flex flex-wrap flex-1 gap-6 gap-y-20 w-full mb-14 justify-evenly items-start text-white"
    >
      <ul
        class="flex flex-col justify-items-start items-start gap-y-8 text-left"
      >
        <li><a href="/archive/2024/dp-generator">DP Generator</a></li>
        <li><a href="/archive/2024/schedule">Schedule</a></li>
        <li><a href="#speakers">Speakers</a></li>
      </ul>

      <ul class="flex flex-col gap-y-8 text-left">
        <li>
          <a href="https://maps.app.goo.gl/RtSDipUkkFzb7eVD6"
            >Venue Information</a
          >
        </li>
        <li>
          <a href="https://chat.whatsapp.com/KFrcuSzqlmdLeYPITA2sLO"
            >Join Our Community</a
          >
        </li>
        <li><a href="mailto:gdg.enugu042@gmail.com">Mail Us</a></li>
      </ul>

      <div class="flex flex-col gap-y-1 text-center">
        <span class=""> Follow our socials: </span>
        <ul class="flex items-center justify-center mt-3 gap-x-3">
          <li>
            <a aria-label="X(Twitter)" href="https://x.com/GdgEnugu">
              <Icon icon="x-twitter-outline" height="28" width="28" />
            </a>
          </li>
          <li>
            <a aria-label="Instagram" href="https://www.instagram.com/gdgenugu">
              <Icon icon="instagram-outline" height="28" width="28" />
            </a>
          </li>
          <li>
            <a
              aria-label="Youtube"
              href="https://www.youtube.com/channel/UCQDbxGe0CCKSuhuQEnxj4Nw"
            >
              <Icon icon="youtube" height="36" width="36" />
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="flex items-end justify-center">
    <img width="1000" height="100" src="/images/2024/large-footer-text.png" alt="" />
  </div>
</footer>
