<section
  class="relative bg-black min-h-[50vh] py-20 lg:py-44 flex items-center justify-center"
>
  <div class="absolute inset-0">
    <img
      src="https://res.cloudinary.com/dpectrfhh/image/upload/c_fill,w_800,h_500,q_auto/v1732838357/IMG_2065_shccr0.webp"
      alt="Community Background"
      class="w-full h-full object-cover"
      loading="lazy"
    />
    <div class="absolute inset-0 bg-black bg-opacity-[85%]"></div>
  </div>

  <div class="relative z-10 text-center px-4">
    <p class="uppercase text-[#FAAB00] font-medium tracking-widest mb-4">
      Join Us
    </p>
    <h4 class="text-4xl md:text-5xl font-bold mb-6 text-white">
      Join Our Community Today
    </h4>
    <p
      class="text-md font-medium md:text-lg max-w-3xl mx-auto mb-8 text-[#B0B0B0]"
    >
      Join our community and connect with the like minds. This is where ideas
      spark, innovation thrives, and friendships turn into collaborations.
    </p>
    <a
      href="https://chat.whatsapp.com/COBCl8KsmLjJmmKQFYtSo7"
      class="inline-block border uppercase border-white text-white py-3 px-8 rounded-[50px] hover:bg-white hover:text-[#050505] transition-colors hover:duration-300"
    >
      Join Now
    </a>
  </div>
</section>
