---
import SponsorCard from "./SponsorCard.astro";
import sponsors from "@data/2024/sponsors.json";
---

<section class="h-full py-20 lg:py-32 bg-white">
  <div class="px-8 container mx-auto">
    <p class="uppercase font-medium text-center text-[#FAAB00] mb-4">
      our sponsors &amp; partners
    </p>

    <div class="relative text-center w-full space-y-4 pb-10">
      <h3
        class="text-[#050505] font-bold text-4xl lg:text-[3.5rem] leading-tight max-w-5xl w-full mx-auto capitalize tracking-tighter"
      >
        It wouldn't be possible without the support of our partners and
        enablers.
      </h3>
      <p class="text-[#474747] font-medium max-w-xl mx-auto">
        A heartfelt thank you to our partners and sponsors! Your support fuels
        innovation and helps us create unforgettable experiences.
      </p>
    </div>

    <div
      class="grid grid-cols-center-2 sm:grid-col-3 lg:grid-cols-center-4 w-full gap-6 gap-y-10"
    >
      {sponsors.map((sponsor) => <SponsorCard {...sponsor} />)}
    </div>
  </div>
</section>
