---
import AppMarquee from "@components/AppMarquee.astro";

const dataList = [
  {
    image:
      "https://res.cloudinary.com/dpectrfhh/image/upload/c_fill,w_800,h_550,q_auto/v1732837837/IMG_1822_ilq01t.webp",
  },
  {
    image:
      "https://res.cloudinary.com/dpectrfhh/image/upload/c_fill,w_800,h_550,q_auto/v1732837838/IMG_2380_esazpk.webp",
  },
  {
    image:
      "https://res.cloudinary.com/dpectrfhh/image/upload/c_fill,w_800,h_550,q_auto/v1732837832/IMG_1814_p85mti.webp",
  },
  {
    image:
      "https://res.cloudinary.com/dpectrfhh/image/upload/c_fill,w_800,h_550,q_auto/v1732837834/IMG_1813_tdto44.webp",
  },
  {
    image:
      "https://res.cloudinary.com/dpectrfhh/image/upload/c_fill,w_800,h_550,q_auto/v1732837838/IMG_2274_ibixwo.webp",
  },
];
---

<section class="h-full py-20 lg:py-36 bg-white">
  <div class="container mx-auto mb-10">
    <p class="uppercase font-medium text-center text-[#FAAB00] mb-4">
      highlights from our past devfest
    </p>

    <div class="relative z-30 text-center w-full space-y-4">
      <h3
        class="text-[#050505] font-bold text-4xl lg:text-[3.5rem] tracking-tighter leading-tight max-w-5xl w-full mx-auto capitalize"
      >
        Throwback to DevFest Enugu '23
      </h3>
    </div>
  </div>

  <!-- Marquee Section -->
  <AppMarquee dataList={dataList} />

  <!-- Button -->
  <div class="mx-auto w-full text-center mt-16">
    <a
      target="_blank"
      href="https://photos.app.goo.gl/8BdXtwrw3ABUtmSg9"
      class="border-2 uppercase bg-[#050505] text-white hover:bg-transparent hover:border-[#050505] hover:text-[#050505] transition-colors hover:duration-300 ease-in-out rounded-[50px] px-6 py-4 h-auto inline-flex justify-center items-center text-center"
    >
      go to gallery
    </a>
  </div>
</section>

<style>
  /* Marquee Animation */
  .marquee {
    animation: scroll 20s linear alternate-reverse infinite;
  }

  @keyframes scroll {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-50%);
    }
  }

  /* Hide Scrollbar */
  .overflow-hidden::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
  }

  .overflow-hidden {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
</style>
