---
import Icon from "@components/Icon.astro";
---

<section
  class="relative h-full py-20 lg:pt-24 lg:pb-32 bg-[#DEF8E1B2] bg-opacity-70"
>
  <div class="px-8 container mx-auto">
    <Icon
      class="absolute right-0 top-0 lg:right-32 lg:top-32"
      width={150}
      height={150}
      icon="doodles/skewed-semicircle"
    />

    <p class="uppercase font-medium text-center text-[#FAAB00] mb-4">
      the exhibition center
    </p>

    <div class="relative z-30 text-center w-full space-y-4 pb-20 lg:pb-32">
      <h3
        class="text-[#050505] font-bold text-4xl lg:text-[3.5rem] leading-tight max-w-5xl w-full mx-auto capitalize tracking-tighter"
      >
        Call for Exhibition: <br /> Showcase your masterpiece
      </h3>
      <p class="text-[#474747] font-medium max-w-xl mx-auto">
        Upload your best project(s) for a chance to be featured at DevFest
        Enugu's showcase of innovative products! <br />
        <span class="text-red-400 inline-flex mt-2">
          Submissions close on Wednesday, December 4, 2024</span
        >
      </p>

      <a
        href="https://forms.gle/jpDX9wFEie62WQBUA"
        class="border-2 uppercase bg-[#050505] text-white hover:bg-transparent hover:text-[#050505] hover:border-[#050505] transition-colors hover:duration-300 rounded-[50px] p-4 w-44 h-auto inline-flex justify-center items-center text-center"
        >submit entry</a
      >
    </div>

    <Icon
      class="absolute z-10 lg:top-64 bottom-72 lg:left-64 lg:-rotate-45"
      color="#57CAFF"
      icon="doodles/equality"
      width={80}
      height={80}
    />

    <div class="flex-grow flex items-end justify-center">
      <img
        class="hidden lg:inline bottom-0 w-[3000px] px-8"
        width="2000"
        height="700"
        src="https://res.cloudinary.com/dpectrfhh/image/upload/q_auto,h_250/v1732838119/exhibition_mockup_kpgbjg.webp"
        loading="lazy"
        alt="Exhibition display"
      />
      <img
        class="lg:hidden rounded-[25px]"
        width="2000"
        height="700"
        src="https://res.cloudinary.com/dpectrfhh/image/upload/q_auto/v1732838165/exhibition-single_fpox0a.webp"
        loading="lazy"
        alt="Exhibition display"
      />
    </div>
  </div>
</section>
