---
import Icon from "./Icon.astro";

const { name, quote, color = "#E4FAFF" } = Astro.props;
---

<div id="dp-container" class="w-[62rem] h-[56rem]">
  <div
    id="dp-container-child"
    class="p-4 pt-8 pb-6 relative w-full h-full overflow-hidden"
    style={`background-color: ${color};`}
  >
    <div class="gap-6 relative">
      <!-- Left Column -->
      <div class="space-y-10">
        <!-- Header -->
        <div class="flex items-center gap-2 mb-8">
          <Icon icon="logo" />
        </div>

        <!-- Title -->
        <div class="space-y-3 relative">
          <div class="flex relative pt-10">
            <div class="relative space-y-10">
              <div
                class="bg-[#5CDB6D] w-[560px] relative z-40 p-10 rounded-sm border-spacing-5 border-white border-4"
              >
                <p data-quote class="text-3xl font-medium truncate">
                  "{quote ?? "Oh mehn, I'm active!"}"
                </p>
              </div>

              <!-- Date -->
              <div
                class="bg-[#EA4335] max-w-xl w-[80%] relative text-white p-10 rounded-sm border-spacing-5 border-white border-4"
              >
                <p class="text-lg">Date</p>
                <p class="text-3xl font-medium">7th Dec, 2024</p>
              </div>
            </div>

            <div class="absolute bottom-0 w-[500px] right-0">
              <div
                class="relative inset-0 border-4 border-white rounded-lg h-[450px] w-[500px]"
              >
                <img data-photo alt={name} class="w-full h-full object-cover" />
              </div>
            </div>
          </div>

          <!-- Venue and Attendance -->
          <div class="flex gap-x-3">
            <div
              class="bg-[#FFE7A5] col-span-2 h-40 max-w-xl w-full relative p-6 px-8 rounded-sm border-spacing-5 border-white border-4"
            >
              <p class="text-lg">Venue</p>
              <p class="text-2xl font-medium max-w-sm">
                Hotel Sylvia Independence Avenue Enugu, 400102
              </p>
            </div>

            <div
              class="bg-[#4285F4] col-span-1 h-40 text-white p-6 px-8 w-full max-w-sm rounded-sm border-spacing-5 border-white border-4 flex flex-col gap-y-3 items-center justify-center"
            >
              <p data-name class="text-3xl font-bold relative z-20 h-10">
                {name}
              </p>
              <p class="text-2xl font-regular h-10">WILL BE ATTENDING</p>
            </div>
          </div>

          <div class="flex gap-x-3">
            <div
              class="bg-[#EA4335] col-span-1 h-10 text-white p-6 px-8 w-full max-w-sm rounded-sm border-spacing-5 border-white border-4 flex flex-col gap-y-3 items-center justify-center"
            >
            </div>
            <div
              class="bg-[#FFE7A5] col-span-2 h-10 max-w-xl w-full relative p-6 px-8 rounded-sm border-spacing-5 border-white border-4"
            >
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Bottom Icons -->
    <div class="flex items-center justify-center pt-4">
      <Icon icon="doodles/plus" color="#EA4335" width="200" />
      <Icon
        icon="doodles/bent-triplecircle"
        color="#5CDB6D"
        height="120"
        width="120"
      />

      <Icon icon="doodles/bracket" height="120" width="200" />
      <Icon
        icon="doodles/bent-doublecircle"
        color="#4285F4"
        fill-opacity="0.7"
        height="120"
        width="120"
      />
      <Icon icon="doodles/equality" color="#57CAFF" height="120" width="120" />
      <Icon icon="doodles/triplecircle" height="120" />
      <Icon
        class="rotate-45"
        icon="doodles/plus"
        color="#FF7DAF"
        width={150}
        height={120}
      />
      <Icon
        icon="doodles/semicircle"
        height="120"
        width="120"
        color="#FF7DAF"
      />
    </div>
  </div>
</div>
