---
import OgPropsHead from "@components/OgPropsHead.astro";
import NavBar from "@components/2025/NavBar.astro";
import Footer from "@components/2025/Footer.astro";

export interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props as Props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.cdnfonts.com/css/google-sans?styles=28136"
      rel="stylesheet"
    />

    <meta name="viewport" content="width=device-width" /><meta
      name="generator"
      content={Astro.generator}
    /><meta name="description" content={description} /><meta
      name="title"
      content={title}
    /><meta
      name="keywords"
      content="DevFest, GDG Enugu, Google Developer Group Enugu, DevFest Enugu"
    /><link rel="sitemap" href="/sitemap-index.xml" /></head
  >

  <OgPropsHead />
  <title>{title}</title>

  <body>
    <main>
      <NavBar />
      <slot />
    </main>
    <Footer />
  </body>


</html>
